{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "plugins": [
    ["emotion"]
  ],
  "env": {
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }]
      ]
    }
  }
}
